
<link rel="stylesheet" href="../Css/Footer.css">
<footer class="footer">
  <div class="footer-container">

    <!-- IZQUIERDA -->
    <div class="footer-left">
      <div class="footer-logo">
        <span class="logo-icon">◈</span>
      </div>

      <p>
        Effortlessly turn your ideas into a fully functional,
        responsive, no-code SaaS website.
      </p>

      <div class="footer-social">
        <i class="fa-brands fa-x-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-github"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-tiktok"></i>
        <i class="fa-brands fa-youtube"></i>
      </div>
    </div>

    <!-- DERECHA -->
    <div class="footer-links">

      <div class="footer-col">
        <h4>Product</h4>
        <a href="#">Features</a>
        <a href="#">Integrations</a>
        <a href="#">Updates</a>
        <a href="#">FAQ</a>
        <a href="#">Pricing</a>
      </div>

      <div class="footer-col">
        <h4>Company</h4>
        <a href="#">About</a>
        <a href="#">Blog</a>
        <a href="#">Careers</a>
        <a href="#">Manifesto</a>
        <a href="#">Press</a>
        <a href="#">Contact</a>
      </div>

      <div class="footer-col">
        <h4>Resources</h4>
        <a href="#">Examples</a>
        <a href="#">Community</a>
        <a href="#">Guides</a>
        <a href="#">Docs</a>
      </div>

      <div class="footer-col">
        <h4>Legal</h4>
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
        <a href="#">Security</a>
      </div>

    </div>

  </div>
</footer>
