<link rel="stylesheet" href="../Css/Header.css">
<link rel="stylesheet" href="../Css/button.css">

<header class="header">
  <div class="header-container">

    <!-- IZQUIERDA -->
    <div class="header-left">
      <div class="header-logo">
        <span class="logo-icon">◈</span>
        <span class="logo-text">Nexa Store+</span>
      </div>
    </div>

    <!-- DERECHA -->
    <div class="header-right">
      <nav class="head">
        <i class="fa-solid fa-house"></i><a href="#">Home</a>
        <i class="fa-solid fa-tag"></i><a href="#cart-3">Products</a>
        <i class="fa-solid fa-star"></i><a href="#pricing">Plans</a>
        <i class="fa-solid fa-user"></i><a href="#">Contact</a>
        <i class="fa-solid fa-circle-info"></i><a href="#">Help</a>
      </nav>

      <button class="bnt1">
        <h1 href="#">Suscríbete</h1>
      </button>

      <div class="icon-cart">
        <i class="fa-regular fa-circle-user"></i>
      </div>
    </div>

  </div>
</header>
